{% extends 'mainland/base.html' %}

{% block content %}
<h2>Панель администратора</h2>
<div class="card card-body">
    <div class="admin_page_style">
        <p><a class="btn btn-block btn-outline-primary m-1" href="{% url 'mainland:qc_list' %}">Коллекции вопросов</a></p>
        <p><a class="btn btn-block btn-outline-primary m-1" href="{% url 'administration:user_list' %}">Управление пользователями</a></p>
        <p><a class="btn btn-block btn-outline-primary m-1" href="{% url 'administration:group_list' %}">Управление группами пользователей</a></p>
    </div>
</div>
{% endblock content %}