{% extends 'mainland/base.html' %}

{% block content %}
<div class="">
    <ul>
    {% for group in object_list %}
        <li>
            <a class="btn btn-outline-info btn-sm" data-toggle="collapse" href="#collapseGroupPermissions" role="button" aria-expanded="true" aria-controls="collapseGroupPermissions">
            {{ group }}
            </a>
            <div class="collapse" id="collapseGroupPermissions">
                {% for permission in group.permissions.all %}
                    <p>{{ permission.name }}</p>
                {% empty %}
                    <p>No permissions found!</p>
                {% endfor %}
            </div>
        </li>
    {% empty %}
        <p>No groups found!</p>
    {% endfor %}
    </ul>
</div>

{% endblock content %}
