{% extends 'mainland/base.html' %}

{% block content %}
<a class="btn btn-outline-secondary mb-2" href="{% url 'administration:admin_page_view' %}">Назад</a>
<hr>
  <article class="card card-body">
    {% for collection in qcollection_list %}
      <div class="">
        {{ collection.name }}
      </div>
      <a class="btn btn-outline-info" href="{% url 'mainland:q_create' %}">Добавить вопрос</a>
    {% endfor %}
  </article>
  <div class="pagination">
    <span class="step-links">
      {% if paginator.num_pages > 1 %}
        {% if page_obj.has_previous %}
          <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        <span class="current">
          Page {{ page_obj.number }} of {{ paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">Next</a>
        {% endif %}
      {% endif %}
    </span>
  </div>

  <a class="btn btn-outline-success" style="margin-top: 10px;" href="{% url 'mainland:qc_create' %}">Создать коллекцию</a>
{% endblock content %}
