{% extends 'mainland/base.html' %}

{% block content %}
  {% if error_message %}<p> <strong>{{ error_message }}</strong></p>{% endif %}
  {% for question in question_list %}
    <form action="{% url 'quiz:get_selected_choices' question.pk %}" method="post">
      <h2>{{ question.question }}</h2>
      {% csrf_token %}
            {% for choice in question.answer_set.all %}
            <div>
              <input type="checkbox" id="choices" name="choices" value="{{ choice.id }}">
              <label for="{{ choice.id }}">{{ choice.answer }}</label>
            </div>
            {% endfor %}
    <input class="btn btn-outline-success" type="submit" value="submit">
    </form>
  {% endfor %}
{% endblock content %}
