{% extends 'mainland/base.html' %}

{% block content %}
  <div class="">
    <p><strong>Поздравляю!</strong></p>
    <p>Вы завершили тест.</p>
    <p><strong>Ваш результат - {{ corrects_count }} из {{ questions_count }}</strong></p>
    <br>
    <p>Эта попытка прохождения тест была занесена в базу данных для предоставления наставнику более детальной информации.</p>
    <br>
    <a class="btn btn-outline-info" href="{% url 'homepage' %}" style="float: center;">Вернуться на домашнюю страницу</a>
  </div>
  <p>
  {% if incorrects_list %}
  <div class="">
      <button class="btn btn-outline-danger" type="button" name="collapse" data-toggle="collapse" data-target="#collapseIncorrects" aria-expanded="false" aria-controls="collapseIncorrects">Показать Вопросы, в которых допущены ошибки</button>
      <div class="collapse mt-2" id="collapseIncorrects">
          <div class="card card-body">

                {% for question in incorrects_list %}
                    <p>{{ question }}</p>
                    <ul>

                    </ul>
                {% endfor %}

          </div>
      </div>
  </div>
  {% endif %}
  </p>

    {{ quests_cache }}

{% endblock content%}
